button{
	width:90px;
}
#btreload{
	position:fixed;
	margin-top:50px;
	margin-left:400px;
}
fieldset{
	width:300px;
}
[id*="fcor"]{
	width:260px;
}
table,td{
	border:1px solid black;
}
input{
	margin:5px;
}
h2,table{
	text-align:center;
}
h1,h2,h4{
	margin:0px;
}
/* 7a questao: */
textarea{margin-bottom:5px;}
div{padding:5px;}
.comdestaque {
	background-color: Bisque;
	border: 1px solid Blue;
}
.semdestaque {
	background-color: Beige;
	border: 1px solid DarkGreen;
}