/* Rodrigo CavanhaMan */
* {box-sizing: border-box;}
iframe{width:100%;}
.header,.footer {
	background-color: grey;
	color: white;
	padding: 15px;
}
.column {
	float: left;
	padding: 15px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.menu {width: 25%;}
.content {width: 75%;}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li, button {
	padding: 8px;
	margin-bottom: 8px;
	background-color: #380606;
	color: #ffffff;
	width: 100%;
	text-align: left;
}
.clicked {background-color: red;}
a:link{text-decoration:none;}
.menu li:hover {background-color: #0099cc;}
