
body{background-color: #bbb;}
.container{
	margin: 1px solid black;
}
.botao{
	width: 200px;
    font-size: 20px;
    text-align: center;
    background-color: #ff9900;
    margin: 20px;
    border-radius: 25px;
	cursor: pointer;
	box-shadow: 5px 5px 5px 2px DimGrey;
}
.botao:hover{
    box-shadow: 10px 10px 10px 5px DimGrey;
    margin: 10px 30px 20px 10px;
    cursor: pointer;
}
