/***************************************************************/
/*                      Rodrigo Cavanhaman                     */
/***************************************************************/
html{background-color: beige;}
#inicialb{
    width: 150px;
    float: left;
    vertical-align: top;
}
#iniciala{
    width: 150px;
    vertical-align: top;
    float: right;
}
#titulo1{
    margin-top: 0px;
    font-size: 80px;
    text-align: center;
}
.pbig{
    font-size: 50px;
    margin: 0px;
}

.foto{
    height: 300px;
}
/***************************************************************/
/*  MENU                                                       */
/***************************************************************/
a{text-decoration:none;}
.menu{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    cursor: pointer;
    padding: 20px;
}
.menu:hover{
    font-weight: bold;
    padding-right: 12px;
}
#divmenu{
    background-color: chocolate;
    width: 500px;
    border-radius: 30px;
    border-color: brown;
    border-style: solid;
    padding: 20px;
}
#imgmenu{
    margin: 0px;
    height: 100px;
}
#divmenu,#imgmenu{
    display: inline;
    vertical-align: middle;
}
.button {
}
  