@font-face {
    font-family: "digit";
    src: url("DS-DIGIT.TTF") format("truetype");
    }
.digit{
    font-family: "digit";
    font-size: 80px;
    margin:0px;
}
h2{
    border: 1px solid black;
    background: gainsboro;
}
button:focus { outline: none; }
.botao{
    font-size:24px;
    width:130px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.botao:hover:enabled {
	background-color: gray;
	color: white;
}
.grande{
    width:200px;
}
.pequeno{
    font-size:20px;
    width:100px;
}
.center{
    text-align: center;
    background:beige;
    width:450px;
    height:230px;
	position: relative;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%);
}
.display{
    background: gainsboro;
    text-align: left;
	border-width:3px;  
	border-style:inset;
    color:black;
	width:430px;
    height:80px;
    position: relative;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%);

}
#hh{width:100px;text-align:right;}
#mm{width:100px;text-align:right;}
#ss{width:100px;text-align:right;}
#ccc{width:100px;text-align:right;}
