.digit{color:blue;}
.display{color:black;}
.center{
    background:#ffccff;
    height:280px;
}
.pointer {cursor: pointer;}
#entrada{
    font-size: 20px;
    width:140px;
}
.clear{
	border-radius: 50%;
	background-color:red;
	color: yellow;
    font-weight: bold;
	width:12px;
	height:12px;
	font-size:12px;
    padding:0px;
	border:0px;
    margin: 0px 2px 0px -20px;
    text-align:center;
}