body{margin: 0px;}
/* ------ ÁREAS GRID ----------------------------------- */
.item0 {
    grid-area: header0;
    margin-bottom: 58px;
}
.item1 {
    grid-area: header;
    margin: 0px;
    background-image: linear-gradient(black, white);
}
.item2 {
    width:100px;
    grid-area: menu;
}
.item3 {
    grid-area: main;
    width: 500px;
}
.item4 {
    width: 500px;
    grid-area: right1;
}
.item4b {grid-area: right2;}
.item5 {grid-area: footer1;}
.item6 {grid-area: footer3;}
.grid-container {
    display: grid;
    grid-template-areas:
        'header0 header0 header0 header0 header0 header0'
        'header header header header header header'
        'menu main main main right1 right2'
        'footer1 footer1 footer1 footer3 footer3 footer3';
    gap: 0px;
    padding: 0px;
}
.grid-container > div {
    padding: 0px;
    /* ESSA BORDA ABAIXO PERMITE VER AS DIVISÕES!*/
    /*border: 2px solid red;*/
}
/* ------ CABEÇALHO (item1) --------------------------------- */
#cavanha{
    width: 140px;
    float: left;
    margin: 0px 20px 0px 20px;
}
#barra{
    width: 100%;
    position:fixed;
}
/* ------ MENU (item2) -------------------------------------- */
.thumb{
    list-style-type: none;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 10px 0px 10px 0px;
}
.thumb:hover, .thumb:active {
    box-shadow: 0 0 6px orange;
  }
.thumbnail{
    width: 50px;
    height: 50px;
}
/* ------ MAIN - IMAGEM)(item3) ------------------------------ */
#fotoproduto{
    margin: 0px;
    padding: 0px;
    width: 500px;
}
/* ------ RIGHT (item4) -------------------------------------- */
#nomeproduto{font-size: 30px;}
.lista1{
    font-size: 18px;
    margin-left: -20px;
}
#titulo3{margin: 0px;}
.lista2{font-size: 18px;}
/* ------ RIGHT2 (imagem preço) ------------------------------ */
#imgpreco{width: 300px;}
/* ------ FOOTER (item5) ------------------------------------- */
.pdescricao{
    font-size: 22px;
    margin: 0px 0px 0px 20px;
}