body{margin: 0px;}
/* ------ ÁREAS GRID ----------------------------------- */
.item0 {
    grid-area: header;
    margin-bottom: 85px;
    background-color: black;
}
.item2 {
    width:100px;
    grid-area: menu;
    margin-left: 0px;
}
.item3 {
    grid-area: main;
    width: 500px;
}
.item4 {
    margin-left: 20px;
    width: 500px;
    grid-area: right1;
}
.item4b {grid-area: right2;}
.item5 {
    grid-area: footer1;
    margin-left: 20px;
}
.item6 {grid-area: footer3;}
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main right1 right2'
        'footer1 footer1 footer1 footer3 footer3 footer3';
    gap: 0px;
    padding: 0px;
}
.grid-container > div {
    padding: 0px;
    /* ESSA BORDA ABAIXO PERMITE VER AS DIVISÕES!*/
    /*border: 2px solid red;*/
}
/* ------ CABEÇALHO (item1) --------------------------------- */
#cavanha{
    width: 140px;
    float: left;
    margin: 0px 20px 0px 20px;
}
#barra{
    width: 100%;
    position:fixed;
}
/* ------ MENU (item2) -------------------------------------- */
.thumb{
    list-style-type: none;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin: 15px 0px 15px 0px;
    cursor:pointer;
}
.thini{margin-top: 0px !important;}
.thfim{margin-bottom: 0px;}
.thumb:hover {box-shadow: 0 0 6px orange;}
.thumbnail{
    width: 50px;
    height: 50px;
}
#boxprox{display: none;}
#boxsetas{margin: -10px 0px 0px 45px;}
.setas{
    width: 20px;
    cursor:pointer;
}
.setas:hover {box-shadow: 0 0 6px orange;}
/* ------ MAIN - IMAGEM)(item3) ------------------------------ */
#fotoproduto{
    margin: 0px;
    padding: 0px;
    width: 500px;
}
#fotoproduto:hover {
    transform-origin: left;
    -webkit-transform:scale(1.4); /* Safari and Chrome */
    -moz-transform:scale(1.4); /* Firefox */
    -ms-transform:scale(1.4); /* IE 9 */
    -o-transform:scale(1.4); /* Opera */
    transform:scale(1.4);
	max-width: 100%;
    /*esta parte aqui é para suavizar a ampliacao (ou qq transicao):*/
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
/* ------ RIGHT (item4) -------------------------------------- */
#nomeproduto{font-size: 30px;}
.lista1{
    font-size: 18px;
    margin-left: -20px;
}
#titulo3{margin: 0px;}
.lista2{font-size: 18px;}
/* ------ RIGHT2 (imagem preço) ------------------------------ */
#imgpreco{width: 300px;}
/* ------ FOOTER (item5) ------------------------------------- */
.pdescricao{
    font-size: 22px;
    margin: 0px 0px 0px 20px;
}
/*********** CSS MENU SUPERIOR ********************************************/
#logocavanha, #formulario, #login, #carrinho, #numcarrinho {
    float: left;
    margin: 0px 30px 0px 30px;
}

.item0 {background-color: black;}
/*************************************************************/
#dropdepto{
    margin-right: -5px;
    background: #e6e6e6;
    width: 70px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    border: 1px solid transparent;
    font-size: 17px;

}
#procura{
    margin-right: -5px;
    background: white;
    width: 600px;
    height: 40px;
    border: 1px solid transparent;
    font-size: 17px;
    border:0px;
}
.op{background-color: white;}


/*************************************************************/
button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    border: 4px solid transparent;
  }

  button:hover {
    background: orange;
    cursor: pointer;
  }
  #dropdepto:hover, button:hover {
    border: 2px solid orange;
    cursor: pointer;
  }
  /*************************************************************/
  
::-webkit-scrollbar {
    width: 7px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 50px;
    background: orange;
}

/*************************************************************/
#formulario{
    margin-top: 7px;
    border: 1px solid black;
    border-radius: 10px;
    width: 718px;
    background: #e6e6e6;
}
/*************************************************************/
#login{
    color: white;
    cursor: pointer;
    margin-top: 12px;
}
/*************************************************************/
#carrinho{
    width: 40px;
    margin-top: 10px;
    cursor: pointer;
}
#numcarrinho{
    font-size: 40px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 8px;
    margin-left:-15px;
}
#loginbt{
    width: 30px;
    margin: 5px 0px 0px 10px;
}
#loginp{
    margin-top: 0px;
}
#loginp, #loginbt{float: left;}