@font-face {
    font-family: "digito";
    src: url("../fonts/DS-DIGIT.TTF") format("truetype");
    }
.digito{
    font-family: "digit";
    font-size: 80px;
    margin:0px;
	width: 80px;
	color:black;
	background: gainsboro;
	height:60px;
	border:0px;
}
.display{color:black;}
.center{background:#ccff99;}
.pontos{margin:-20px;}
.grande{width:200px;}
.pequeno{
    font-size:17px;
    width:90px;
}
.center{
    text-align: center;
    background:beige;
    width:290px;
    height:230px;
	position: relative;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%);
}
.display{
    background: gainsboro;
    text-align: left;
	border-width:3px;  
	border-style:inset;
    color:black;
	width:290px;
    height:80px;
    position: relative;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%);

}
