h1{
    color: red;
    text-align: center;
}
h2{
    margin-top: 70px;
    color: green;
    text-align: center;
}
#carro, #descricao {float: left;}
#carro{width: 400px;}
#descricao{width: 350px;}
li{margin: 10px 0px 0px 40px;}
.bolas{
    width:100px;
    /*codigo para centralizar horizontalmente:*/
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
