.digit{color:black;}
.display{color:black;}
.center{
    background:#ffff99;
    height:280px;
}
table,th,tr,td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
#col1{width:50px;}
#col2{width:80px;}
#col3{width:100px;}