html{
	background-color:beige;
	font-size:200%;
}
#pg1{background-color:MediumTurquoise;}
#pg2{background-color:MediumSeaGreen;}
#pg3{
	background-color:Red;
	color :yellow;
}
#pg4{background-color:yellow;}
h1,h2,h3{margin:0px;}
table, th, td {
	border: 3px solid #e9e9af;
	border-collapse: collapse;
	text-align:center;
}
.hand {cursor: url(maozinha.png), none;}
#mycursor {
	cursor: none;
	width: 105px;
	height: 133px;
	background: url("maozinha.png") no-repeat left top;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 10000;
}

.btn {
	border: none;
	color: blue;
	text-decoration: underline;
	font-weight: bold;
	background-color: inherit;
	font-size:110%;
	display: inline-block;
	outline: none;
}
