fieldset{
	border: 5px solid #008080;
	background: #e6ffff;
	width:600px;
	box-shadow: 10px 10px 5px #a6a6a6;
	border-radius: 10px;
	font-size:20px;
	font-family: Verdana;
}
h1{
	text-align:center;
	color:#008080;
	margin-top:0px;
	font-size:40px;
	text-shadow: 2px 2px #cccccc;
}
.campo{
	width: 360px;
	font-size:20px;
}
.pass{width: 170px;}
.col2{width:350px;}
.colunas{
    float:left;
	margin: 10px;
}
.col1{
    width:180px;
	text-align:right;
	margin-left:10px;
	margin-right:0px;
	margin-top:15px;
}
.pointer {cursor: pointer;}
.button{
	width:80px;
	height:30px;
	background-color: #008080;
	color:white;
	border-radius: 6px;
	margin: 20px;
}
.botao{
	text-align: center;
	float:none;
	clear: both;
}
.button:hover {box-shadow: 2px 2px #a6a6a6;}
.button {
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}
#vesenha1, #vesenha2 {width:5%;}
.aviso{
	color: red;
	font-size: 14px;
	width:240px;
	white-space: nowrap;
}
.comdestaque {background-color: Bisque;}
.semdestaque {background-color: white;}

