/* -------- PRIMEIRA TABELA: -------- */
html{
    background-color: black;
    color: aliceblue;
    /*Acrescenta uma imagem ao fundo do site:*/
    background-image: url("../fotos/rocklonglive.jpeg");
    /*indica se essa imagem irá se repetir ou não:*/
    background-repeat: no-repeat;
    /*indica que a imagem será fixa (não irá se mover junto com o site):*/
    background-attachment: fixed;
    /*escode a barra de rolagem horizontal:*/
    overflow-x: hidden;
}
.capadisco{
    float: left;
    height:160px;
    width: 160px;
    display: block;
    margin: 0 auto;
}
.nomebanda{
    text-align: center;
    color: gray;
    /*acrescenta uma sombra no texto deslocada
      2xp pra baixo e 2px para a direita*/
    text-shadow: 2px 2px white;
}
.descricao{
    margin: 10px 2px 10px 2px;
    font-size: 20px;
    text-align: justify;
}
.tabeladescricao{
    vertical-align: top;
}
/* -------- SEGUNDA TABELA: -------- */
#tb2,.tb2tr,.tb2td,th{
    border: 1px solid #262626;
    border-collapse: collapse;
    font-size: 22px;
}
td,tr{background-color: black;}
#tb2{
    border:0px;
    margin-left: auto;
    margin-right: auto;
}
th{
    background-color: #262626;
    color:bisque;
    height: 60px;
    text-align: left;
}
.tb2td{padding: 0px 10px 0px 10px;}
.ano{width: 40px;}
.capa{width:201px;}
.nome{font-size: 40px;}
/* -------- EXTRAS: -------- */
caption{
    color: white;
    text-shadow: 4px 4px black;
    font-size: 30px;
    margin-top:40px;
    padding-left: 10px;
    background-color: black;
    margin-bottom: 20px;
    /*opacidade serve para deixar o elemento transparente*/
    opacity: 0.7;
    /*border-radius acrescenta curvatura na borda*/
    border-radius: 30px;
}
h1{margin: 20px 0px 20px 0px;}
#rockright{
    height: 120px;
    float: right;
    margin-top: 20px;
}
#rockleft{
    height: 100px;
    float: left;
    margin-top: 50px;
}
table{
    width: 1200px;
    clear: both;
    /*estas duas linhas abaixo servem para centralizar um elemento*/
    margin-left: auto;
    margin-right: auto;
}
.rockrightp{
    height: 100px;
    float: right;
    bottom: 0;
    right: 0;
    position: relative;
    margin: 20px 0px 0px 20px;
}
/* Este código abaixo é para ampliar a foto quando
   o mouse passar por cima (hover). A escala indica
   quantas vezes a imagem será ampliada.
   Este efeito também poderá ser usado para um botao
   ou qualquer outro elemento. Para usa-lo, coloque
   o id ou o nome da classe sequido de :hover e cole
   o restante do código.*/
.rockrightp:hover {
    -webkit-transform:scale(2); /* Safari and Chrome */
    -moz-transform:scale(3); /* Firefox */
    -ms-transform:scale(3); /* IE 9 */
    -o-transform:scale(3); /* Opera */
    transform:scale(3);
	max-width: 100%;
    /*esta parte aqui é para suavizar a ampliacao (ou qq transicao):*/
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.capadisco:hover {
    -webkit-transform:scale(2); /* Safari and Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
    transform:scale(2);
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}