fieldset{
	border: 7px ridge #ccc;
	background: #e6ffff;
	width:500px;
	border-radius: 0px 0px 20px 20px;
}
.titulo{
	background: #ccc;
	height: 30px;
	border-radius: 20px 20px 0px 0px;
}
h2{	margin: 5px 0px 0px 0px;}
.col2{width:200px;}
.colunas{
    float:left;
	margin: 10px;
}
.campo{width: 200px;}
.button{width:80px;}
.botao{
	margin-top: 600px;
	text-align: center;
	clear: both;
}
/*margin: 10px 10px 10px 10px;
		top right botton left*/
.col1{
    width:150px;
	text-align:right;
}
.pointer {cursor: pointer;}
