#titu{
	margin: 0px;
}
fieldset{
	border: 7px ridge #ccc;
	background: #e6ffff;
	width:700px;
}
.col2{
	width:400px;
}
.colunas{
    float:left;
	margin: 10px;
	background-color: red;
}
.cad{
	background: #00cccc;
	width: 380px;
}
.campo{
	width: 240px;
}
.texto{
	width: 85px;
	display:block;
	text-align:right;
}
.button{
	width:80px;
	background-color: #008080;
	color:white;
}
.botao{
	text-align: center;
	float:none;
	clear: both;
}
#txtObservacoes{
	width:115%;
	height:100px;
	margin-right:0px;
}
/*margin: 10px 10px 10px 10px;
		top right botton left*/
.col1{
    width:220px;
	text-align:right;
}
.pointer {cursor: pointer;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
