/*Rodrigo Cavanhaman*/
@font-face {
    font-family: "texto";
    src: url("../fonts/Thisay_Font.otf");
    }
.texto{font-family: "texto";}
body{
    color: black;
    background-color: white;
}
table, tr, td, th{
    border: 1px solid black;
    border-collapse:collapse;
    vertical-align: top;
}
th{
    text-align: left;
    font-size: large;
    background-color: black;
    color: white;
}