/*Rodrigo Cavanhaman*/
.carinha{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mensagem{
    text-align: center;
    padding: 10px;
}
#rosto{
    /* background-color: gray; */
    padding: 10px;
}
/* #texto{
    background-color: yellow;
    padding: 10px;
} */
#aviso{
    margin: 10px;
    padding: 10px;
    position: absolute;
    right: 0px;
    top:0px;
    color:red;
    font-weight: bold;
    background-color: rgb(255, 255, 136);
}
#chat{
    width: 250px;
    position: absolute;
    top:-25px;
    left:125px;

}