/***************************************************************/
/*                      Rodrigo Cavanhaman                     */
/***************************************************************/
@font-face {
    font-family: "texto";
    src: url("../fonts/Thisay_Font.otf");
    }
.texto{font-family: "texto";}
body{
    margin:0px;
    background-image: url("../img/fundos/woodg6.jpg");
    background-size: 100%;
    background-repeat: repeat;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/***************************************************************/
/*  INICIO MENU                                                */
/***************************************************************/
ul{
    list-style: none;
    padding: 0px;
    width: 250px;
}
ul, li{margin: 10px 0px 10px 0px;}
li a{
    text-align: right;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    background-color:black;
    border-radius: 0px 40px 40px 0px;
    font-family: Arial;
    padding: 10px;
    display: block;
    opacity: 0.7; /* Transparencia */
    filter: alpha(opacity=70); /* For IE8 and earlier */

    transition: all 0.1s;
}
li :hover{
    background-color: #333333;
    color: white;
    font-weight: bold;
    border-radius: 0px 40px 40px 0px;
    transform-origin: top left;
    transform: scaleX(1.1);
}
#menu{
    /*codigo para centralizar verticalmente:*/
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/***************************************************************/
/*  POSIÇÃO E TAMANHO DE MENU/IMAGEM/LEGENDA                   */
/***************************************************************/
#dMenu, #dImagem, #dLegenda {
    float:left;
    position: relative;
    height: 600px;
    /*border: 1px solid black;*/
}
#dMenu {width: 300px;}
#dImagem {width: 900px;}
#dLegenda{width: 300px;}
    /*background-color:green;}*/
/***************************************************************/
/*  INICIO LEGENDA                                             */
/***************************************************************/
#textoleg{
    color: white;
    text-shadow: 2px 2px 4px black;
}
#legenda {
	width: 300px;
	height: 530px;
    text-align: center;
    background-color:rgb(0, 0, 0);
    opacity: 0.7; /* Transparencia */
    filter: alpha(opacity=70); /* For IE8 and earlier */
    /*codigo para centralizar horizontal e verticalmente:*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#barber{
    /*codigo para centralizar horizontal e verticalmente:*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/***************************************************************/
/*  INICIO CABEÇALHO                                           */
/***************************************************************/
* {box-sizing: border-box;}
.header {
    background-color:rgb(0, 0, 0);
    color: rgb(225, 226, 156);
    height: 150px;
    padding: 15px;
    opacity: 0.7; /* Transparencia */
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
#hTitulo {
    position: absolute;
    top: 20px;
    left: 100px;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 80px;
    margin:0px;
    width: 800px;
    /*codigo para centralizar horizontalmente:*/
    /* left: 50%;
    transform: translate(-50%); */
}
#imgLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
}
/***************************************************************/
/*  INICIO BOLINHAS                                            */
/***************************************************************/
#botoes{
    width:300px;
    /*codigo para centralizar horizontalmente:*/
    margin: 0;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%);
}
#icones{
    width: 200px;
	height: 200px;
}
.none{visibility: collapse;}
/***************************************************************/
/*  INICIO RESPONSIVIDADE - MEDIA QUERIES                      */
/***************************************************************/
@media all and (max-width : 1500px) {
/*** CABEÇALHO *************************************************/
    .header {height: 100px;}
    #hTitulo {
        top: 10px;
        left: 80px;
        font-size: 60px;
    }
    #imgLogo {
        top: 5px;
        width: 50px;
    }
    
}
@media all and (max-width : 440px) {
    #dMenu, #dImagem, #dLegenda {height: 300px;background-color: red;}

}