/*Rodrigo Cavanhaman*/
body{
    margin:0px;
    background-image: url("../img/fundo.jpg");
}
h1{
    color: red;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}
ul{
    list-style: none;
    padding: 0px;
    width: 290px;
}
ul, li{margin: 10px 0px 10px 0px;}
li a{
    text-align: right;
    color: whitesmoke;
    text-decoration: none;
    background-color:rgb(0, 0, 0);
    border-radius: 0px 20px 20px 0px;
    font-weight: bold;
    font-family: Arial;
    padding: 15px;
    display: block;
    transition: all 0.1s;
}
li :hover{
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 0);
    border-radius: 0px 20px 20px 0px;
    transform-origin: top left;
    transform: scaleX(1.1);
}
#dMenu, #dImagem, #dLegenda {
    float:left;
    width: 33%;
    position: relative;
    height: 600px;
    /*border: 1px solid black;*/
}
#dMenu{width:322px;}
#menu{
    /*codigo para centralizar verticalmente:*/
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#imagem, #legenda{
    /*codigo para centralizar horizontal e horizontalmente:*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#legenda{
    margin: 0px;
    font-size: 40px;
    text-align: center;
}

/*********************************************/
* {box-sizing: border-box;}
.header, .footer {
    background-color:rgb(0,0,255);
    background-image: url("../img/fundo2.jpg");
    color: white;
    padding: 15px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


