/* Rodrigo CavanhaMan */
* {box-sizing: border-box;}
iframe{width:100%;}
.header,.footer {
	background-color: #331a00;
	color: white;
	padding: 15px;
}
.column {
	float: left;
	padding: 15px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.menu {width: 20%;}
.content {width: 80%;}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li, button {
	padding: 8px;
	margin-bottom: 8px;
	background-color: #ffcc99;
	color: black;
	width: 100%;
	text-align: center;
	border-radius: 15px;
	width: 80px;
	height: 80px;
	font-size: 40px;
}
.clicked {background-color: red;}
a:link{text-decoration:none;}
.menu li:hover {background-color: yellow;}

#beard{width: 200px;}
.blank{
	text-align:center;
	color: white;
	font-family: Comic Sans MS;
}
.atividade,.descreve{background-color: #ffcc99;}
#titBlank{color:black;}

table {
	border-collapse: separate;
	border-spacing: 0;
  }