.center{
	position: fixed;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%);
}
fieldset{
	width:175px;
	border: 2px groove (internal value);
}
.campo{
	width:99px;
	border: 1px solid gray;
	text-align:right;
}
.bts{
	width:30px;
	height:30px;
	margin-right:10px;
	font-size:20px;
}
#txtResultado{
	width:86px;
	margin-left:1px
}
.pointer {cursor: pointer;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}