html{
	background-color:beige;
	font-size:200%;
}
img{
	width:200px;
	margin:40px;
}
.hand {cursor: url(maozinha.png), none;}
#mycursor {
	cursor: none;
	width: 105px;
	height: 133px;
	background: url("maozinha.png") no-repeat left top;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 10000;
}
