html{
	background-color:MediumTurquoise;
	font-size:200%;
}
#pg1{background-color:MediumTurquoise;}
#pg2{background-color:MediumSeaGreen;}
img{width:200px;}
.hand {cursor: url(maozinha.png), none;}
#mycursor {
	cursor: none;
	width: 105px;
	height: 133px;
	background: url("maozinha.png") no-repeat left top;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 10000;
}
.btn {
	border: none;
	color: blue;
	text-decoration: underline;
	font-weight: bold;
	background-color: inherit;
	font-size:110%;
	display: inline-block;
	outline: none;
}
#saida{
	position: absolute;
	bottom: -30px;
}
