/* Rodrigo CavanhaMan */
/******************************************/
#logo{height: 60px;}
#pacman{width: 60px; height: 60px;}
#fantasma{width: 100px; height: 100px;}
.centro{
    margin: 0;
    position: absolute;
    left: 300px;
    top: 300px;
}
/******************************************/
html{
    color: yellow;
    background-color: #333333;
}
#entrada{
    border: 5px solid #333333;
	background-color: black;
	width: 230px;
}
#jogo{
	width: 100%;
    height: 100%;
    background-color: black;
}
.campo{width: 80px;}
#aviso{background-color:red;}
#divaviso{
    font-size: 20px;
	font-weight:bold;
    width: 200px;
    height: 30px;
    text-align: center;
    position: relative;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%);
}
#tdResultado{
	width:240px;
	height: 200px;
}
.botao{width:100px;}
.stop:enabled{
    background-color: red;
	color: yellow;
}
.botao:hover:enabled {
	background-color: black;
	color: yellow;
}
a:link{text-decoration:none;}
.clicked {background-color: red;}
/******************************************/
iframe{width:100%;}
.header {
	color: yellow;
	padding-left: 40px;
	margin: -10px;
}
/******************************************/
#jogo{border: 1px solid yellow;}
legend{border:1px solid white;}
fieldset{width:220px;}