/* Rodrigo CavanhaMan */
* {box-sizing: border-box;}
.header,.footer {
	background-color: #997a00;
	color: white;
	padding: 15px;
}
.column {
	float: left;
	padding: 15px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.menu {width: 25%;}
.content{width:75%}
iframe{width:100%}
.framehtml {height:200px;}
.frametxt {height:200px;}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li, button {
	padding: 8px;
	margin-bottom: 8px;
	background-color: #997a00;
	color: #ffffff;
	width: 100%;
	text-align: left;
}
.clicked {background-color: red;}
a:link{text-decoration:none;}
.menu li:hover {background-color: #0099cc;}

/* numeros da megasena com circulos */
.dot {
  height:75px;
  width: 75px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  font-size:60px;
}

