.inputfocus {background-color: #ffff99;}
.naovalida{background-color: red;}
.pointer {cursor: pointer;}
p{margin:0px;}
fieldset{
    width:45%;
    border: 1px solid #bfbfbf;
    display: block;
    float:left;
}
/*#letral{width:63%;}*/
.titulo{text-align:center;}
.center{
    border: 2px solid black;
    width:90%;
	position: fixed;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%);
}