.valido{background-color: green;}
.invalido{background-color: red;}
.inputfocus {background-color: #ffff99;}
.naovalida{background-color: red;}
.pointer {cursor: pointer;}
.campo{width:250px;}
p{margin:0px;}
.mostrapadrao{
	color:brown;
	font-size:12px;
}
.mensagem{
	display:inline;
	color: yellow;
}
fieldset{
    width:46%;
    height:85px;
    border: 1px solid #bfbfbf;
    display: block;
    float:left;
}
/*#letral{width:63%;}*/
.titulo{text-align:center;}
.center{
    clear:both;
    background:white;
    border: 2px solid black;
    width:900px;
    height:650px;
	position: relative;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%);
}
#fieldA{background:#FFFFCC;}
#fieldB{background:#E6E8FA;}
#fieldC{background:#FFCCFF;}
#fieldD{background:#CCFFFF;}
#fieldE{background:#EAEAAE;}
#fieldF{background:#FFFF99;}
#fieldG{background:#EBC79E;}
#fieldH{background:#D8D8BF;}
#fieldI{background:#EDE0B8;}
#fieldJ{background:#CCFFFF;}
#fieldK{background:#D4D2D2;}
#fieldL{background:#FFCCCC;}
legend{
    border: 1px solid #bfbfbf;
    background: white;
    color: black;
}
body{
    background-image: url("xadrez.jpg");
    background-size: 300px 300px;
}
.clear{
	border-radius: 50%;
	background-color:red;
	color: yellow;
    font-weight: bold;
	width:12px;
	height:12px;
	font-size:12px;
    padding:0px;
	border:0px;
    margin: 0px 2px 0px -20px;
    text-align:center;
}
.clearAll{
	border-radius: 50%;
	background-color:red;
	color: yellow;
    font-weight: bold;
	width:20px;
	height:20px;
	font-size:12px;
    padding:0px;
    text-align:center;
	float:right;
	position: relative;
	left:10px;
	top:-625px;
}
/**************************************************/
/*              ESTILOS PARA A INDEX              */
/**************************************************/
.grandao{
	font-family: "OCR A Std";
	font-size: 120px;
	margin-top:-20px;
}
.pequeno{
	font-family: "Brush Script MT";
	font-size: 30px;
	margin-left:100px;
}
.grandao,.pequeno{float:left;}
