/* Rodrigo CavanhaMan */
* {box-sizing: border-box;}
.header,.footer {
	background-color: #997a00;
	color: white;
	padding: 5px;
}
.column {
	float: left;
	padding: 5px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.menu {width: 25%;}
.content{width:75%}
iframe{width:100%}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li, button {
	padding: 8px;
	margin-bottom: 8px;
	background-color: #997a00;
	color: #ffffff;
	width: 100%;
	text-align: left;
}
.clicked {background-color: red;}
a:link{text-decoration:none;}
.menu li:hover {background-color: #0099cc;}

/* numeros da megasena com circulos */
.dot {
	color:white;
	font-size:60px;
	font-weight:bold;
	height:75px;
	width: 75px;
	background-color: #006600;
	border-radius: 50%;
	display: inline-block;
}

/* imagem na blank page inicial - tamanho e centralização */
#imgshow{width:200px;}
#javascript {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

#mostragrupo{
	background-color:#F0E68C;
	font-size:30px;
	padding:30px;
	font-family: "Times New Roman";
}
h1{text-align:center;}
#mostraex{
	font-size:20px;
	margin:0px;
	color:white;
	height:90px;
}