body {
    margin:0px;
}
h1 {
    color: red;
    font-family: arial;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    border-bottom:1px solid black;
}
div {
    background-color: yellow;
    padding:20px;
    width: 600px;
    margin:auto;
    text-align: center;
    transition: all 1s;
}
div:hover {
    background-color:pink;
    box-shadow:1px 1px 1px black;
}
ul {
    list-style: none;
    padding:0px;
    width: 270px;
}

ul li {
    text-align:right;
    background-color:rgb(189,191,9);
    border-radius: 0px 15px 15px 0px;
    margin:5px 5px 5px 0px;
}

li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-family:arial;
    display:block;
    padding:10px;
    border-radius: 0px 15px 15px 0px;
    transition: all 0.5s;
}
li a:hover {
    color:rgb(189,191,9);
    background-color: black;
}
p{
    font-size: 40px;
    border-bottom: 1px solid black;
    padding-left: 70px;
}
.azul {color:blue;}
.amarela {color:yellow;}
.rosa {color:pink;}
.cinza {color:grey;}
.marrom {color:brown;}

