html{
    width: 80%;
    /*para centralizar*/
    margin-left: auto;
    margin-right: auto;
}
h1, h4 {text-align: center;}
p {text-align: justify;}
hr {width: 80%;}
a{text-decoration: none;}
.voltar{
    float:right;
    color: red;
    margin-top: 20px;
    font-weight: bold;
}
.btvoltar{
    float:left;
    width: 20px;
    margin: 25px 10px 0px 0px;
}

/************************************************/
li{
    display: inline;
    margin: 0px 20px 0px 20px;
    font-weight: bold;
}
#menu {
    list-style: none;
	padding: 20px 0px 20px 0px;
	margin: 20px 0px 0px 0px;
    height: 40px;
    font-size: 20px;
    text-align: center;
	background-color: #EDEDED;
}
.menuflutuante {
    position: fixed;
    top: 0;
	width: 100%;
    /*codigo para centralizar horizontal e verticalmente:*/
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu li:hover {
    /*VISUAL DO LINK COM O MOUSE SOBRE ELE*/
	padding: 20px 0px 17px 0px;
    background-color: gray;
	color: yellow;
	border-bottom: 3px solid red;
}
.espaco{height: 50px;}