a{
  font-size: 30px;
  box-shadow: 10px 10px 5px gray;
  border-radius: 20px;
}
a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  background-color: #3e8e41;
  box-shadow: 6px 6px 5px gray;
  transform: translateY(4px);
}
a:active {
  background-color: #285e2a;
  box-shadow: 4px 4px 5px black;
  transform: translateY(6px);
}
